*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.5;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.load-more {
  display: none;
}
